@import url(header/header.css);
@import url(main/main-screen.css);
@import url(main/stats-block.css);
@import url(main/donation-block.css);
@import url(main/adopt-info-block.css);
@import url(main/diference-block.css);
@import url(main/adopt-block.css);
@import url(main/subscription\ block.css);
@import url(footer/footer.css);
@import url(modal/modal.css);
@import url(modal/modal-donate.css);
@import url(other/success.css);
@import url(other/adopt.css);

/* reset css */
* {
  margin: 0;
  border: 0;
  padding: 0;
}
input {
  outline: none;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* hide mobile components */

.hide {
  display: none;
}

/* replace background color of some one components */
.separator {
  background: #000;
}


