.dialog-adapt-container {
  max-width: 480px;
  position: fixed;
  margin: auto;
  top: 5%;
  right: 0;
  padding: 32px;
  gap: 48px;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(30, 31, 39, 0.25);
  display: grid;
}

.dialog-adapt-title h2 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: -0.02em;
  text-align: center;
}
.dialog-adapt-title p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
}

.form-adopt-container div {
  display: grid;
}

.form-adopt-container label {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #ff3d9a;
  margin-bottom: 10px;
}
.form-adopt-container label span {
  color: #3f96fc;
}

.radio-btn {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500 !important;
  line-height: 16px;
  text-align: left;
  color: #37383f !important;
}
.agre-container label {
  display: flex;
  gap: 10px;
  align-items: center;
}
.agre-container {
  display: flex;
  flex-direction: row;
}
.check-agree {
  border-radius: 50%;
  background-color: #37383f;
  padding: 9px;
  transition: 0.2s;
}

.dialog-adapt-container input[type="checkbox"] {
  display: none;
}

.agre-container input[type="checkbox"]:checked + .check-agree {
  background-color: #04C27F;
  background-image: url(../../img/payment-checked-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-adopt-container input[type="text"],
.form-adopt-container input[type="email"],
.form-adopt-container input[type="date"] {
  width: 384px;
  padding: 16px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #3f96fc;
  color: #1e1f27;
  margin-bottom: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

.form-adopt-container input[type="text"]:focus,
.form-adopt-container input[type="email"]:focus,
.form-adopt-container input[type="date"]:focus {
  outline: #937aff 1px solid;
}
.modal-button-container {
  display: grid;
  grid-template-rows: auto;
}

.modal-button-container .dog-modal {
  margin-right: 10px;
}
.modal-adopt {
  background: #04c27f;
  border-radius: 8px;
  padding: 16px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
}
.modal-adopt span {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #f5f5f5;
  align-self: center;
}

.modal-cancel {
  border-radius: 8px;
  padding: 16px 24px;
  gap: 8px;
  background: #37383f;
  display: flex;

  justify-content: center;
  cursor: pointer;
}

.modal-cancel span {
  color: #f5f5f5;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  align-self: center;
}

/* animation open dialog */
.dialog-open {
  animation: dialog-open 0.2s linear both;
}
@keyframes dialog-open {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}
/* animation close dialog */
.dialog-closed {
  animation: dialog-closed 0.2s linear both;
}
@keyframes dialog-closed {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 800px) {
  .dialog-adapt-container {
    top: 1%;
  }
  /* animation open dialog */
  .dialog-open {
    animation: dialog-open 0.2s linear both;
  }
  @keyframes dialog-open {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-30%);
    }
  }
  /* animation close dialog */
  .dialog-closed {
    animation: dialog-closed 0.2s linear both;
  }
  @keyframes dialog-closed {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media (max-width: 500px) {
  /* animation open dialog */
  .dialog-open {
    animation: dialog-open 0.2s linear both;
  }
  @keyframes dialog-open {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-0%);
    }
  }
  /* animation close dialog */
  .dialog-closed {
    animation: dialog-closed 0.2s linear both;
  }
  @keyframes dialog-closed {
    0% {
      transform: translateX(-0%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
