footer {
  max-width: 1200px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;

  margin: 0 auto;
}
.footer-links {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}

.footer-separator {
  border-bottom: 2px solid #000;
}
.logo-footer-container {
  flex: 1 1 100px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #1e1f27;
  gap: 19px;
}
.logo-footer-container h2 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #1e1f27;
}

.link-footer-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}
.link-footer-container ul {
  display: flex;
  gap: 16px;
  flex-flow: column;
}
.link-footer-container ul li {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.contatos-footer-container {
  flex: 1 1 100px;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}
.contatos-footer-container p {
  display: flex;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  gap: 17px;
}

.contatos-footer-container p svg {
  align-self: center;
}

.footer-social-media {
  display: flex;
  gap: 25px;
}
footer h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: center;
}

@media (max-width: 800px) {
  footer {
    max-width: 700px;
    padding: 80px 16px;
  }
  .logo-footer-container {
    flex: 1 1 auto;
    display: grid;
    justify-content: center;
  }

  .contatos-footer-container {
    flex: 1 1 auto;
    padding-left: 30px;
  }
}
@media (max-width: 500px) {
  footer {
    max-width: 430px;
  }
  .footer-social-media {
    justify-content: center;
  }
}
