.main-screen {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  height: 555px;
  margin: 0 auto;
}

.img-container {
  flex: 1 2 584px;
}

.info-block {
  flex: 1 2 584px;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-evenly; */
}

.info-block h1 {
  font-family: "poppins";
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1e1f27;
}

.info-block p {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: left;
  color: #37383f;
}

.cat-block {
  max-width: 584px;
  width: 100%;
}

.cat-block h2 {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 20px;
}
.main-screen-buttons-container {
  display: flex;
  flex-flow: row nowrap;
}
.adopt-button {
  background: none;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;
  border-radius: 32px;
  cursor: pointer;
  border: 2px solid #1e1f27;
  margin-left: 32px;
}
.adopt-button img {
  flex: 1 2 0px;
}
.adopt-button span {
  flex: 1 2 153px;
  font-family: Poppins;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
}

@media (max-width: 800px) {
  .main-screen {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }
   .info-block p {
    flex: 1 4 0;
    margin-bottom: 20px;
  }
   .info-block h1 {
    flex: 1 4 0;
    margin-bottom: 20px;
  }
  .cat-block {
    width: 698px;
    margin: 0 auto;
    margin-bottom: 20px;
  } 

  .img-container {
    flex: 1 4 0;
    margin: 0 auto;
  }
  .main-screen-buttons-container{
    flex: 1 4 0;
    display: grid;
    max-width: 700px;
    margin: 0 auto;
  }
  .main-screen-buttons-container .btn-donate{
    margin: 0 auto;
    margin-bottom: 20px;
    
  }
  .main-screen-buttons-container .adopt-button{

    margin: 0 auto;
  }
  .cat-block h2{
    text-align: center;
  }
}
/* mobile */
@media (max-width: 500px) {
  .main-screen {
    max-width: 398px;
  }
   .info-block h1 {
    font-size: 52px;
  }
  .cat-block {
    max-width: 398px;
  } 


}
