.succses-content {
  display: grid;
  max-width: 1200px;
  gap: 60px;
  padding: 80px 0;
  justify-content: center;
}
.page-success-button-back {
  background: #37383f;
  padding: 16px 32px;
  gap: 8px;
  border-radius: 32px;
  display: flex;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.button-back-success-container {
  display: flex;
  justify-content: flex-start;
}
.text-success {
  max-width: 584px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.text-success h2 {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1e1f27;
}
.text-success p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: left;
  color: #37383f;
}
@media (max-width: 500px) {
  .succses-content {
    max-width: 398px;
    margin: auto;
  }
}
