.adopt-block {
  display: flex;
  margin: 0 auto;
  flex-flow: column wrap;
  max-width: 1200px;
  gap: 60px;
  color: #fff;
}
.adopt-block-title {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.adopt-block h2 {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: center;
}
.adopt-block span {
  color: #f8db46;
}

.adopt-body-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.adopt-text-btn {
  display: flex;
  flex-flow: column nowrap;

}
.adopt-text-btn h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 60px;
}

.adopt-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.adopt-button-container button {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
}
.btn-view-adpt{
 background: #F8DB46;
}

.btn-apply-adpt{
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
