.adopt-block {
  display: flex;
  margin: 0 auto;
  flex-flow: row nowrap;
  max-width: 1200px;
  gap: 60px;
  color: #fff;
}
.adopt-block h2 {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: center;
  padding-bottom: 20px;
}
.adopt-block span {
  color: #f8db46;
}

.adopt-body-container {
  display: flex;
  flex-flow: column nowrap;
}

.adopt-text-btn {
  display: flex;
  flex-flow: column nowrap;
}
.adopt-text-btn h3 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 60px;
}

.adopt-button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.adopt-button-container button,
.adopt-button-container a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  padding: 10px 32px;
  border-radius: 32px;
  cursor: pointer;
  margin-bottom: 20px;
}
.btn-view-adpt {
  background: #f8db46;
  color: #1e1f27;
}

.btn-apply-adpt {
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.adopt-block-img {
  align-content: flex-end;
}

/* @media (max-width: 800px) {
  .adopt-block{
    max-width: 700px;
  }
  .adopt-block h2{
   font-size: 20px;
  }

  .adopt-text-btn{
    width: 100%;
  }
  .adopt-text-btn h3{
    font-size: 16px;
  }

  .adopt-button-container button{

  }
  
} */
