.adopt-info-block {
  display: flex;
  padding: 80px 0;
  margin: 0 auto;
  flex-flow: column wrap;
  max-width: 1200px;
  gap: 60px;
}
.adopt-info-block h2 {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
}
.content-block {
  display: flex;
  flex-flow: row wrap-reverse;
  width: 100%;
  gap: 40px;
}
.content-block img {
  flex: 1 2 0;
}
.text-block {
  flex: 1 2 500px;
  display: grid;
  grid-template-rows: auto 2fr 1fr;
}
.text-block h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: left;
}
.text-block ul {
  list-style: disc !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.text-block li {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: left;
}
.btn-container {
  align-content: center;
}
.btn-container button {
  cursor: pointer;
  padding: 16px 32px;
  gap: 8px;
  border-radius: 32px;
  background: #1e1f27;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #fff;
}

@media (max-width: 800px) {
  .adopt-info-block {
    max-width: 700px;
    align-items: center;
  }
  .text-block{
    flex: 1 2 366px;
    grid-template-rows: 71px 558px 92px  ;
  }
  .btn-container{
    align-content: flex-end;
  }
  .content-block img {
    flex: 1 2 0;
  }
}
@media (max-width: 500px) {
  .adopt-info-block {
    max-width: 430px;
  }
  
}
