.donation-block {
  max-width: 1200px;
  margin: 0 auto 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 80px;
}
.donation-block h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  color: #fff;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.card {
  flex: 1 2 230px;
  display: flex;
  flex-flow: column nowrap;
  width: 370px;
  border-radius: 24px;
  padding: 36px;
  border: 2px solid #fff;
  margin: 20px 20px;
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: left;
}

.card p {
  width: 100%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
