.subscription-block {
  display: flex;
  margin: 0 auto;
  flex-flow: column wrap;
  max-width: 1200px;
  gap: 60px;
  padding: 80px 0;
}
.text-container {
}
.text-container h2 {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
.text-container p {
  margin: auto;
  max-width: 800px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  gap: 12px;
  color: rgba(255, 255, 255, 0.8);
}
.form-container-subscription {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  gap: 24px;
  justify-content: center;
}
.form-container-subscription input {
  padding: 16px 136px 16px 24px;
  border-radius: 32px;
  border: 2px solid #fff;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 24px;
  /* input text */
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.form-container-subscription input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-container-subscription button {
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  /* btn text */
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #1e1f27;
}

@media (max-width: 800px) {
  .subscription-block {
    gap: 24px;
  }
}
@media (max-width: 500px) {
}
